{{- $contentsTitle := "Table of Contents" -}}
# Flows

## {{ $contentsTitle }}

{{ range . -}}
* [{{ .Name }}](#{{ .Name | lower }})
{{ end -}}

{{- range . }}
## {{ .Name }}

{{- if .Doc }}

{{ .Doc }}
{{- end }}

```yaml
{{ .Code }}
```

Defined in [{{ .Path }}]({{ .Path }}#L{{ .Line }})

[⬆️ Return to Contents](#{{ $contentsTitle | kebabcase }}) 

------

{{ end -}}